.gm-modules-preview .guildIcon-cyDh6h {
  display: none;
}

.gm-modules-preview .cardHeader-2XrQbx {
  margin-bottom: 12px;
}

.gm-modules-preview .card-3_CqkU {
  background-color: var(--background-tertiary);
}