.gm-modules-preview .guildIcon-2Ut8OT {
  display: none;
}

.gm-modules-preview .cardHeader-r-Jvg2 {
  margin-bottom: 12px;
}

.gm-modules-preview .card-B2gQB5 {
  background-color: var(--background-tertiary);
}