/* Discord fixes */
/* Color picker is behind settings layer (and other things like modals / etc) */
.layer-v9HyYc {
  z-index: 999;
}

.container-ZMc96U.themed-Hp1KC_ {
  --background-primary: unset;
}

.container-2cd8Mz {
  background: var(--background-primary) !important;
}
