/* Custom title replacing "Server Boost" */
#gm-sponsor-modal .headerTitle-kLIB73 {
  background-image: url(https://goosemod.com/img/goose_gold.jpg);

  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;

  border-radius: 50%;

  height: 60px;
}

#gm-sponsor-modal .headerTitle-kLIB73::after {
  font-family: var(--font-display);
  font-size: 24px;

  color: var(--text-normal);

  width: 140px;
  display: block;

  margin-left: 70px;
  margin-top: 6px;

  content: 'GooseMod Sponsor';
}

#gm-sponsor-modal .guildBackground-3BSNJY > svg:first-child { /* Hide Lottie hands animation */
  display: none;
}

#gm-sponsor-modal .content-2eQb8J {
  padding: 16px;
  padding-right: 8px;
}

#gm-sponsor-modal .content-2eQb8J > div:not(:last-child) {
  margin-bottom: 32px;
}

#gm-sponsor-modal .footer-31IekZ {
  left: -16px;
  top: 16px;
  width: calc(100% - 8px);
}

#gm-sponsor-modal .content-2eQb8J > div:first-child {
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 20px;

  color: var(--text-normal);
}